
.mobile-navbar {
    background-color: var(--blue-dark);
    color: #fff;
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s;
  }
  
  .menu-items {
    display: flex;
    justify-content: space-around;
  }
.menu-items :nth-child(6){
  flex-direction: column-reverse;
  align-items: center;
}
  
  .menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .menu-item .icon {
    margin-right: 10px; 
  }
  
  .menu-item a {
    text-decoration: none; 
    color: #fff; 
    display: flex;
    align-items: center;
    padding: 0.09rem;
  }
  
  .menu-item a:hover {
    background-color: var(--blue-medium) ; 
    border-radius: 5px; 
  }
  
  .menu-item.active {
    background-color: var(--blue-medium); 
    border-radius: 5px; 
  }
  
  .menu-toggle {
    background-color: #555; 
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-toggle .menu-icon {
    width: 30px;/*icon size*/
    height: 3px; 
    background-color: #fff; 
    border-radius: 3px; 
    transition: all 0.3s; 
  }
  
  .menu-toggle .menu-icon.open {
    transform: rotate(45deg); 
  }
  
  .menu-toggle .menu-icon.closed {
    transform: rotate(0deg); 
  }

  @media (min-width: 769px) {
    .mobile-navbar {
      display: none; 
    }
  }
  
  /* Label'ları görünür yap */
.menu-item span {
  display: inline !important;
}
