.mainContainer {
  padding: 2rem;
}

.header {
  color: black;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0 8rem 2rem 8rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
