.main {
  padding: 2rem 4rem;
  min-height: 100vh;
  background-color: var(--blue-lighter);
}

.header {
  color: black;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 0;
}

.filter-dropdown {
  display: flex;
  gap: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
