.register-form {
  max-width: 600px;
  height: 500px;
  width: 400px;
}

.register-form-forgot {
  float: right;
}

.ant-col-rtl .register-form-forgot {
  float: left;
}

.register-form-button {
  width: 100%;
}

/* Increase the height of input fields */
.register-form .ant-input {
  height: 30px; /* Adjust the height as needed */
}

/* Increase the height of the button */
.register-form .register-form-button {
  height: 40px; /* Adjust the height as needed */
}

.register-container {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  min-height: 100vh;
  /* Make the container take up the full viewport height */
}

.register-box {
  padding: 30px; /* Add padding around the register form */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  background-color: #fff; /* Optional: Set a background color */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
}
