.progress-bar {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-bright);
  overflow: hidden;
  text-align: center;
}

.progress-completed {
  height: 100%;
  background-color: var(--color-button); /* Completion color */
  border-radius: var(--border-radius);
}
