.progress-bar {
  width: 100%;
  background-color: #ffffff;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color-light);
  overflow: hidden;
  text-align: center;
}

.progress-completed {
  height: 100%;
  background-color: var(--border-color-light); /* Completion color */
  border-radius: var(--border-radius);
}
