.jobHeader {
  display: flex;
  justify-content: space-between;
}

.jobDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: size 16px;
  margin: 1.5rem 0;
}

.skillTag {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  width: 41rem;
  margin: 2rem 2rem 2rem 0;
  background-color: #fdfdfd;
  box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}

.avatar {
  width: 80px;
  height: 80px;
}

.jobTitle {
  font-size: 2rem;
  color: var(--grayDark);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobTitle:hover {
  /* underline */
  text-decoration: underline;
}

.companyName {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-medium);
  margin: 0;
}

.horizontalLine {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 10px 0;
}

.iconAndText {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-medium);
}

.iconAndText span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-8, #595959);
  /* Body/regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}

.iconAndText svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  overflow: hidden;
}

.skillTag div {
  background-color: var(--label-color);
  border-radius: var(--tag-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.savedBookmark {
  fill: black;
}
