.matches-element {
  display: flex;
  align-items: center;
  padding: 3rem;
  margin-bottom: 2rem;
  width: var(--secton-width);
  border: 1px solid var(--gray-bright);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.avatar-matches {
  margin-right: 3rem;
  height: 8rem;
  width: 8rem;
}

.avatar-matches img {
  max-height: 100%;
}

.text-matches {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1; /* Allow the text to take up remaining space */
  text-align: left;
  padding-left: 2rem;
  color: var(--gray-dark);
}

.button-style {
  margin-left: auto; /* Push the icon to the right */
  /* bigger */
  height: 5rem;
}
