/* CandidateProfile.module.css */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem;
}

.profileSectionElement {
  width: var(--secton-width);
  box-sizing: border-box;
}

.profileComponent {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.profileComponent p {
  margin: 0;
  cursor: pointer;
}

.userName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.userName h3 {
  font-size: 3.5rem;
  color: black;
  margin: 0;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9rem;
  margin-left: 1rem;
  color: black;
  font-size: large;
}

/* Profile completed */
.profileCompletedComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profileCompletedFieldsComponent {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 5rem;
}

.profileCompletedElement {
  padding: 3rem;
  width: 100%;
  height: 35rem;
}

.profileCompletedFieldsElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.column {
  flex: 1;
}

.profileCompletedEditIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profileCompletedEditIcon h3 {
  color: black;
}

.editIcon {
  margin-left: auto;
}

/* Associations */
.secondContainer {
  padding: 3rem;
  min-height: 20rem;
  width: 100%;
}

.profileCompletedEditIcon h2 {
  margin-bottom: 1rem;
}

.associationContainerLabels {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

/* Type of jobs */
.associationsTypeOfJobs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.lowerContainer {
  min-height: 30rem;
  padding: 3rem;
  width: 100%;
}

/* Skills */
.skillsContainer {
  padding: 3rem;
  margin-bottom: 2rem;
}

.skillsContainerLabels {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

/* Values */
.valuesContainer {
  padding: 3rem;
  margin-bottom: 2rem;
}

.valuesContainerLabels {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.labelClass {
  background-color: var(--label-color);
  border-radius: var(--tag-radius);
}
