.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.header {
  color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 99%;
}

.inputs {
  display: flex;
  justify-content: space-between;
}
.selected{
  width: 25%;
}

.noResultText {
  text-align: center;
  padding: 20px;
  font-size: 15rem;
  font-style: italic;
  font-weight: 100;
  color: var(--gray-medium);
}
.multiFilter {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.searchText {
  width: 80rem;
  max-width: 100%;
}
.sortByDate {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--grey-8, #595959);
  margin-bottom: -1rem;
  margin-top: 2rem;
  width: 99%;
}
.count {
  color: var(--color-button);
  font-size: 2rem;
  font-weight: bolder;
}

.sortBy {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
  color: var(--grey-8, #595959);
  text-decoration: none;
  cursor: pointer;
}

.selects {
  display: flex;
  flex: 1;
  margin-left: 10rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .jobHeader {
    display: flex;
    flex-direction: column;
  }

  .multiFilter {
  flex-wrap: wrap;
  }

  .main {
    padding: 0;
  }
  .ant-select-show-search {
    width: 100% !important;
  }

  .sortByDate {
    align-items: baseline;
    justify-content: space-evenly;
  }
  .sortByDate > * {
    flex: 1;
  }

  .cardContainer {
    justify-content: center;
  }

  .searchText {
    width: 100%;
  }
  .selects {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 0;
  }
  .ant-select {
    width: 180px !important;
  }

  .selected{
    flex: 1;
  }
}
