.main-container {
  height: 100vh;
  /* background-color: aliceblue; */
  padding: 3rem;
}

.welcome-text {
  color: black;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.first-container {
  display: flex;
  flex-direction: row;
}

.grid {
  flex: 7.5;
  height: var(--secton-height);
  border: 2px solid #ffffff;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.section-element {
  width: var(--secton-width);
  height: var(--secton-height);
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.grid:nth-child(2) {
  flex: 2.5; /* 20% of available space for the side-section */
  height: 40rem;
  border: 2px solid #ffffff;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
