.mainContainer {
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--background-color);
}

.header {
  text-align: left;
  padding-left: 2rem;
  color: var(--gray-dark);
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0 8rem 2rem 8rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
