.registerForm {
  max-width: 60rem;
  height: 100%;
  width: 40rem;
}

.registerFormForgot {
  float: right;
}

.ant-col-rtl .registerFormForgot {
  float: left;
}

.registerFormButton {
  width: 100%;
}

/* Increase the height of input fields */
.antInput {
  height: 40px; /* Adjust the height as needed */
}

/* Increase the height of the button */
.registerForm .registerFormButton {
  height: 40px; /* Adjust the height as needed */
}

.registerContainer {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  min-height: 100vh;
  /* Make the container take up the full viewport height */
}

.registerBox {
  padding: 30px; /* Add padding around the register form */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  background-color: #fff; /* Optional: Set a background color */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.oauth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontalLine {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
}