.navbar {
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 999;
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.navbar-menu .ant-menu-item,
.navbar-menu .ant-menu-submenu {
  height: 4rem;
  padding: 5px;
  margin-left: 1rem;
}

.navbar-menu .leftMenu {
  display: none;
  align-items: center;
}

.navbar-menu .rightMenu {
  display: none;
  align-items: center;
  gap: 2rem;
}

.mobileMenu {
  display: block;
  padding-top: 1rem;
  margin-right: 3rem;
}

@media (min-width: 768px) {
  .navbar-menu .rightMenu,
  .navbar-menu .leftMenu {
    display: flex;
  }

  .mobileMenu {
    display: none;
  }
}
