.profile-completed-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--primary-color);
}

.profile-completed-text {
  color: var(--primary-color);
  margin: 0.5rem 0;
}

.profile-uncompleted-button {
  color: var(--color-button);
  background-color: var(--white);
  border: 1px solid var(--color-button);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
