.label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  background-color: var(--label-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--tag-radius);
}

.label-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.label-close-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
