.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row h3 {
    margin: 0;
}

.row p {
    margin: 0 0 0 1rem;
    color: var(--gray-medium);
}

.column {
    display: flex;
    flex-direction: column;
}

.mainDiv {
    margin-left: 1rem;
}

.h3 {
    font-size: 2rem;
}

.icon {
    border-color: var(--gray-medium);
}

.hr {
    margin-top: 2rem;
    border-top: 1px solid var(--gray-bright);
    width: 100%;
}